// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

// Include the theme from the theme.scss file
@use './theme';

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;

  // Custom styles
  font-size: 1.5rem;
}

body,
html {
  color: theme.$light-cyan;
  background-color: theme.$french-blue;
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1300px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 3vh 3rem;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: theme.$turquoise-surf;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
  color: theme.$turquoise-surf;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  color: theme.$turquoise-surf;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: theme.$turquoise-surf;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: theme.$turquoise-surf;
}

h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: theme.$turquoise-surf;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

a {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: theme.$light-cyan;
  text-decoration: none;

  &:hover {
    color: theme.$frosted-blue;
  }
}

img{
  max-width: 100%;
}

.logo{
  width: 100px;
}

.content {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
}

.copyright, .copyright a{
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: theme.$turquoise-surf;
}

.copyright a:hover{
  color: theme.$frosted-blue;
}


